extends ../0_basics/_default
block content
  .container
    .row
      .col-lg-12
        h1 Default Pattern
        hr
        a(href='pattern.html') Pattern

    .row
      .col-lg-12
        h1 Atoms
        hr
        //- [injector:jadelinks]
        //- [endinjector]
