extends /_default

block content
  .container
    .row
      .col-lg-12
        h1 Headlines
        hr
    .row
      .col-lg-6
        h1 Headline 1

        h2 Headline 2

        h3 Headline 3

        h4 Headline 4

        h5 Headline 5

        h6 Headline 6


    .row
      .col-md-9
        h1 Buttons
        hr
        h3 Button Varianten
        .btn.btn-default .btn-default
        .btn.btn-primary .btn-primary
        .btn.btn-secondary .btn-secondary

        h3 Button Größen
        .btn.btn-default.btn-lg .btn-lg
        br
        br
        .btn.btn-default Normale Größe
        br
        br
        .btn.btn-default.btn-sm .btn-sm
        br
        br
        .btn.btn-default.btn-xs .btn-xs
        br
        br

        .btn.btn-default.btn-block .btn-block
        br

        .btn.btn-primary.btn-block .btn-block
        br

        .btn.btn-secondary.btn-block .btn-block
        br
        br

    // Copy
    .row
      .col-lg-12.col-sm-6
        h1 Copy
        hr
    .row
      .col-sm-8
        p Lorem ipsum dolor sit amet, <b>consetetur sadipscing</b> elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        p Lorem ipsum dolor sit amet, <i>consetetur sadipscing</i> elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        p Lorem ipsum dolor sit amet, <strong>consetetur sadipscing</strong> elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        p Lorem ipsum dolor sit amet, <em>consetetur sadipscing</em> elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        p Lorem ipsum dolor sit amet, <del>consetetur sadipscing</del> elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.

    .row
      .col-sm-8
        p Lorem ipsum dolor sit amet, <a href="#">consetetur sadipscing</a> elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.


    .row
      .col-lg-12
        h1 Lists
        hr
    .row
      .col-lg-6
        h2 Unordered list
        ul.list-styled
          li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
        h3 Nested unordered list
        ul.list-styled
          li Lorem ipsum dolor sit amet
            ul.list-styled
              li Lorem ipsum dolor sit amet
              li Lorem ipsum dolor sit amet
              li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
        h2 Definition list
        dl
          dt Lorem ipsum dolor sit amet
          dd At vero eos et accusam et justo duo dolores et ea rebum.
          dt Lorem ipsum dolor sit amet
          dd At vero eos et accusam et justo duo dolores et ea rebum.
      .col-lg-6
        h2 Ordered lists
        ol.list-styled
          li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet

        h3 Nested ordered/unordered list
        ol.list-styled
          li Lorem ipsum dolor sit amet
            ul.list-styled
              li Lorem ipsum dolor sit amet
              li Lorem ipsum dolor sit amet
              li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet
        h3 Nested ordered/ordered list
        ol.list-styled
          li Lorem ipsum dolor sit amet
            ol.list-styled
              li Lorem ipsum dolor sit amet
              li Lorem ipsum dolor sit amet
              li Lorem ipsum dolor sit amet
          li Lorem ipsum dolor sit amet



    .row
      .col-lg-12
        h1 Formulare
        hr
