/**
 * @name <%= modulenameCamelized %>
 * @description <%= description %>
 * @author <%= author %>
 * @see {@link http://github.com/documentation|Specification}
 */

.<%= modulenameCamelized %> {

}
