extends /_default
block content
  .container
    .row
      .col-lg-12
        h1 Organisms
        hr
    .row
      .col-lg-12
        a(href='header.html') Header
        hr

        a(href='footer.html') Footer
        hr
