//-
  @name <%= modulename %>
  @description <%= description %>
  @author <%= author %>
  @see {@link http://github.com/documentation|Specification}

mixin <%= modulenameCamelized %>(content)
  .<%= modulenameCamelized %>
